.boton{
    border-radius: 3px;
    padding: .35em;
    margin: .2em;
}
.boton:hover{
    cursor: pointer;
}
.boton.disabled:hover{
    background-color: #ccc;
    cursor: not-allowed !important;
    opacity: 0.7;
  }

.botonPiedra:hover,.botonPapel:hover,.botonTijeras:hover{
    background-color: yellow;
}
.botonOK{
    padding-left: 1em;
    padding-right: 1em;
}
.botonOK:hover{
    background-color: purple;
    color: white;
}

.botonEntendido:hover{
    background-color: yellow;
}

main div button a{
    color: black;
    text-decoration: none;
}